@import 'src/styles/vars';

#footer {
  width: 100%;
  text-align: center;
  padding: 2em 0;
  border-top: 1px solid $color-copyright;
  
  &-img {
    // width: 10%;
    text-align: center;
    
    margin-bottom: 1em;
  }

  &-copyright {
    color: $color-copyright;

    & > a {
      color: $color-copyright;
      text-decoration: underline;
    }
  }
}
