{#
/**
 * @file
 * Twitter Bootstrap v4 Sorting control implementation.
 *
 * @author Vincent SUREAU <hello@vincent-sureau.fr>
 */
#}

<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %} style="color: #000;">
    <span class="pull-right">
        {% if app.request.get('sort') == key %}
            {% if app.request.get('direction') == 'desc' %}
                <i class="fas fa-sort-up"></i>
            {% else %}
                <i class="fas fa-sort-down"></i>
            {% endif %}
        {% else %}
            <i class="fas fa-sort"></i>
        {% endif %}
    </span>
    {{ title }}
</a>
