api_platform:
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    enable_swagger_ui: false
    swagger:		
        api_keys:		
            apiKey:		
                name: Authorization		
                type: header 