.navbar-toggler {
  border-color:transparent !important;
}

.navbar-toggler-icon {
  background-image: url('../../images/bars-solid.png') !important;
}

.dropdown-menu {
  border: none !important;
  margin: 0 !important;
}

.connection-button.active {
  color: #2a2a2a !important;
  &:focus {
    color: #2a2a2a !important;
  }
}
.connection-button:hover {
  &:hover {
    color: #2a2a2a !important;
  }
}

#navbar {
  & .fixed-top {
  right: inherit;
  left: inherit;
  width: 100vw;
  }
}

