.navbar-toggler {
  border-color:transparent !important;
}

.navbar-toggler-icon {
  background-image: url('../../images/bars-solid.png') !important;
}

.dropdown-menu {
  border: none !important;
  margin: 0 !important;
}
