<form method="post" action="{{ path('professional_status_delete', {'id': professional_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professional_status.id) }}">
    <button class="btn">Delete</button>
</form>
