{% extends 'base.html.twig' %}

{% block title %}Modifier le statut pro - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2 class="show-title">Modifier le statut professionnel</h2>

        {{ include('admin/professional_status/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-light" href="{{ path('professional_status_index') }}">Retour à la liste</a>

        {{ include('admin/professional_status/_delete_form.html.twig') }}
    </div>
{% endblock %}
