{% extends 'base.html.twig' %}

{% block title %}Ajouter un statut professionnel - Admin{% endblock %}

{% block body %}
    <h2>Créer un nouveau statut professionnel</h2>

    {{ include('admin/professional_status/_form.html.twig') }}

    <a href="{{ path('professional_status_index') }}">Retour à la liste</a>
{% endblock %}
