
#selectinput {
  border: 3px solid #000;
  border-radius: 25px;
  margin: 1em;
  padding: 0 1em;
  &-select {
    background: transparent;
    height: 50px;
    font-size: 1.3em;
    border-style: none;
    text-align: center;
    text-align-last: center;
    &:focus {
      outline:none;
    }

  }
}
