
@import '../../styles/vars';

#projectedit {
  &-form {
    margin: 0;
    padding: 7em 10em;
    width: 100%;
    height: 100%;
    min-height: 650px;
    & h1 {
      font-size: 3em;
      margin: 1em 0;
    }
    & input {
      color: $text-color;
    }
    &-gallery {
      width: 70%;
      text-align: center;
      & input {
        width: 70%;
        color: lighten($color-project, 5%);
      }
      &-imagechange {
        margin: 2em 0;
        width: 70%;
        & img {
          width:70%;
        }
      }
    }
    & label {
      margin: .5em 0 0 1em;
      font-size: 1.4em;
      font-weight: bold;
      position: relative;
      color: darken($color-project, 20%);
    }
    & .images-label {
      margin: 0;
      padding: 0;
    }
    & #isProjectActive-input {
      color: $text-color;
      text-align: start;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $text-color;
      margin-right: .5em;
    }
    &-info {
      width: 500px;
      & p {
        text-align: end;
        margin: 1em 0 1em 1em;
        margin-bottom: 0;
      }
      & .input-text ,.input-textarea {
        text-align: start;
        padding: 0;
        margin: 0 2em .5em 0;
        border: none;
        background-color: transparent;
        color: $text-color;
        border-bottom: 2px solid $text-color;
        font-size: 0.9em;
        width: 100%;
        &::placeholder{
          color: $text-color;
          opacity: 0.5;
        }
      }
      & .input-textarea {
        height: 10em;
        border: 2px solid $text-color;
        margin-top: .6em;
        padding: .7em;
      }
      & .multiselection {
        height: 7em;
        overflow-y: scroll;
        margin: .5em 2em 1em 0;
        padding-left: 10px;
        border-left: 2px solid $text-color;
        color: $text-color;
      }

    }
  }
}

.form-check-label {
  display: block;
}

button {
  border: none;
  color: $text-color;
  background: none;
  border-radius: 20px;
  border: 1px solid $text-color;
  padding: 5px;
  margin: 10px;
  &:focus {
    outline:none;
  }
}

