{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center page-admin">
        <div class="page-admin-description d-flex flex-column ">
            <h3 class="welcome-title d-flex justify-content-center">404 Error</h3>
            <p class="welcome-presentation d-flex justify-content-center">Désolé mais cette page n'existe pas !</p>
        </div>
    </div>
{% endblock %}