{% extends 'base.html.twig' %}

{% block title %}Modifier la promotion - Admin{% endblock %}

{% block body %}
    <div class="container-form">
        <h2 class="show-title">Modifier la promotion</h2>
        <a class="btn btn-light btn-light_edit" href="{{ path('promotion_index') }}">Retour à la liste</a>
        {{ include('admin/promotion/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <div class="d-flex justify-content-center container_delete">
            {{ include('admin/promotion/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
