{% extends 'base.html.twig' %}

{% block title %}Ajouter une promotion - Admin{% endblock %}

{% block body %}
    <h2>Créer une nouvelle promotion</h2>

    {{ include('admin/promotion/_form.html.twig') }}

    <a href="{{ path('promotion_index') }}">Retour à la liste</a>
{% endblock %}
