{% extends 'base.html.twig' %}

{% block title %}New Promotion{% endblock %}

{% block body %}
    <h1>Create new Promotion</h1>

    {{ include('admin/promotion/_form.html.twig') }}

    <a href="{{ path('promotion_index') }}">back to list</a>
{% endblock %}
