{% extends 'base.html.twig' %}

{% block title %}Ajouter une promotion - Admin{% endblock %}

{% block body %}
    <div class="container-form">
        <h2 class="show-title">Créer une nouvelle promotion</h2>
        <a class="btn btn-light btn-light_edit" href="{{ path('promotion_index') }}">Retour à la liste</a>
        {{ include('admin/promotion/_form.html.twig') }}
    </div>
{% endblock %}
