#home {
  & h3 {
    padding: 0.2em 0 2em 0;
    font-weight: normal;
  }
  & h4 {
    text-align: center;
    margin: 1em 0;
  }

  &-presentation {
    width: 100%;
    position: relative;
    height: 100vh;
    min-height: 650px;

    &-text {
      font-size: 1.3em;
      width: 100%;
      max-width: 800px;
      text-align: center;
      padding: 3em 0;
    }

    &-logo {
      max-width: 500px;
    }
  }
  &-members {
    margin: 0;
    padding: 3em 10em;
    height: 100%;
    text-align: center;
  }
  &-projects {
    margin: 0;
    padding: 100px 5em;
    text-align: center;
    &-carousel {
      margin-bottom: 3em !important;
    }
    & .carousel {
      width: 724px;
      height: 452px;
      position: absolute;
      top: 53px;
      left: 128px;
      &-item {
        width: 100%;
        height: 452px;
        object-fit: cover;
        object-position: center top;
      }
    }
    &-pc {
      background: url(../../images/mbp.svg) no-repeat;
      background-size: 100%;
      width: 980px;
      height: 580px;
      position: relative;
      -moz-osx-font-smoothing: initial;
      -webkit-font-smoothing: initial;
      text-align: left;
    }

  }
  &-specialities {
    margin: 0;
    padding: 100px 5em;
    height: 100%;
    & .specialitie {
      text-align: center;
      max-width: 250px;
    }
  }
}

.full-height {
  min-height: 100vh;
}

@media (max-width:768px) {

  #home {
    &-projects {
      margin: 0;
      padding: 100px 5em;
      &-pc {
        transform: scale(.6);
        margin-top: -5em;
        margin-bottom: -5em;
      }
    }
  }
}

@media (max-width:576px) {

#home {
  &-projects {
    margin: 0;
    padding: 100px 5em;
    &-pc {
      transform: scale(0.4);
      margin-top: -8em;
      margin-bottom: -8em;

    }
  }
}

}
