<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Bienvenue sur Oclock Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="width:100%">
    <div class="container" style="width:500px; margin:auto">
      <table style="width:100%; color: #fdf1cd; border-collapse:collapse">
        <thead style="height:400px; background-color:#194d61">
        <tr>
          <th style="width=50px"></th>
          <th style="text-align:center"><h1>Bienvenue chez Oclock Community !</h1></th>
          <th style="width=50px"></th>
        </tr>
        </thead>
        <tbody style="background-color:#1d6682">
          <tr>
            <td style="width:50px"></td>
            <td><h2 style="text-align:center">Bonjour {{user.firstName ~ user.lastName}}</h2></td>
            <td style="width:50px"></td>
            </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>Vous avez été inscrit sur Oclock Community par les administrateurs du site.</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>O'clock Community, c'est le réseau social des étudiants O'clock</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>Ici tu pourras afficher tes compétences et travaux auprès des employeurs et des autres étudiants.</td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>Tu pourras aussi consulter le profil des autres étudiants et les contacter</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>De plus, les employeurs pourront voir ton profil ainsi que ton portfolio, super pour trouver un Job ou une alternance après ta formation !</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>N'oublie pas de mettre le lien de ton profil sur ton CV ;)</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>Pour finaliser ton inscription, rend toi sur : cOmmunity.io</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="border:2px dashed #fdf1cd; padding:15px; margin:30px; text-align:center">Ton mot de passe est : {{ user.password }}</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p>Pense à le modifier après ta première connexion !</p></td>
            <td style="width:50px"></td>
          </tr>
        </tbody>
        <tfoot style="height:400px; background-color:#194d61">
          <tr>
            <th style="width=50px"></th>
            <th style="text-align:center"><p>2018 &copy; <a style="color: #fdf1cd" href="https://www.linkedin.com/in/elodiechiarani/">Elodie Chiarani</a> / <a style="color: #fdf1cd" href="https://www.linkedin.com/in/thibault-garnier/">Thibault Garnier</a> / <a style="color: #fdf1cd" href="https://www.linkedin.com/in/tristantouchain/">Tristan Touchain</a> / <a style="color: #fdf1cd" href="https://www.linkedin.com/in/vincentsureau/">Vincent Sureau</a></p></th>
            <th style="width=50px"></th>
          </tr>
        </tfoot>
      </table>

    </div>
  </body>
</html>
