<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ton mot de passe a été réinitialisé</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="width:750px">
    <div class="container" style="width:500px; margin:auto">
      <table style="width:100%; color: #fdf1cd; border-collapse:collapse">
        <thead style="height:150px; background-color:#194d61">
        <tr>
          <th style="width=50px"></th>
          <th style="text-align:center"><h1 style="padding: 20px 0">Ton mot de passe a été réinitialisé</h1></th>
          <th style="width=50px"></th>
        </tr>
        </thead>
        <tbody style="background-color:#1d6682; min-height: 400px">
          <tr>
            <td style="width:50px"></td>
            <td><h2 style="text-align:center; padding: 15px 0">Bonjour {{user.firstName ~ ' ' ~ user.lastName}}</h2></td>
            <td style="width:50px"></td>
            </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:5px; padding: 15px 0">Tu as demandé un nouveau de passe.</p></td>
            <td style="width:50px"></td>
          <tr>
            <td style="width:50px"></td>
            <td><p style="border:2px dashed #fdf1cd; padding:15px; margin:30px; text-align:center">Ton nouveau mot de passe est : {{ user.password }}</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:5px">Pense à le modifier après ta prochaine connexion !</p></td>
            <td style="width:50px"></td>
          </tr>
          <tr>
            <td style="width:50px"></td>
            <td><p style="padding:5px">L'équipe Oclock Community</p><br></td>
            <td style="width:50px"></td>
          </tr>
        </tbody>
        <tfoot style="height:150px; background-color:#194d61">
          <tr>
            <th style="width=50px"></th>
            <th style="text-align:center"><p>2018 &copy; <a style="color: #fdf1cd" href="https://www.linkedin.com/in/elodiechiarani/">Elodie Chiarani</a> / <a style="color: #fdf1cd" href="https://www.linkedin.com/in/thibault-garnier/">Thibault Garnier</a> / <a style="color: #fdf1cd" href="https://www.linkedin.com/in/tristantouchain/">Tristan Touchain</a> / <a style="color: #fdf1cd" href="https://www.linkedin.com/in/vincentsureau/">Vincent Sureau</a></p></th>
            <th style="width=50px"></th>
          </tr>
        </tfoot>
      </table>

    </div>
  </body>
</html>
