{% extends 'base.html.twig' %}

{% block title %}}Modifier le projet - Admin{% endblock %}

{% block body %}
    <div class="container-form">
        <h2 class="show-title">Modifier le projet</h2>

        {{ include('admin/project/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-light" href="{{ path('project_index') }}">back to list</a>

        {{ include('admin/project/_delete_form.html.twig') }}
    </div>
{% endblock %}
