{% extends 'base.html.twig' %}

{% block title %}Ajouter un projet - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2 class="show-title">Créer un nouveau projet</h2>

        {{ include('admin/project/_form.html.twig') }}
        <br>
        <a class="btn btn-light" href="{{ path('project_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
