@import '../../styles/vars';

#members {
  & h1 {
    font-size: 6em;
  }
  & h3 {
    padding: 0 0 2em 0;
    font-weight: normal;
  }
  &-presentation {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 700px;
  }

  &-list {
    // margin: 0;
    padding: 3em 10em;
    width: 100vw;
    & h1 {
      margin: .5em 0;
      font-size: 2em;
    }
  }

  &-form {
    width: 80%;
    // padding: 0 10em;
    & #selectinput {
      border-color: darken($color-members, 20%);
    }
    
    & #textinput {
      border-color: darken($color-members, 20%);
      &-input::placeholder {
        color: $text-color;
      }
    }
  }


}


