@font-face {
    font-family: 'Brando';
    src: url("../fonts/Brandon_med.otf") format("opentype");
}


@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("../fonts/Brandon_bld.otf") format("opentype");
}

ul, a{
    list-style-type: none; 
    text-decoration: inherit!important;
    color: inherit!important;
}

body {
    background-color:#1d6682 ;
    font-family: 'Brando';
}

/* Navigation */
.navbar{
    background-color: #194d61!important;
    height: 62px;
    width: 100%;
}

.container-nav-link{
    margin: 0;
    padding: 0;
}

.nav-link {
    padding: 0;
}

.nav-link>a{
    display: flex;
    text-align: center;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #fdf1cd!important;
    font-size: 0.9em;
}

.nav-link > a:hover{
    color: #cfc5a7!important;
}

.nav-link_disconnect {
    border: 1px solid #fdf1cd;
    border-radius: 20px;
}

.nav-link_disconnect:hover{
    background-color: #fdf1cd;
}

.nav-link_disconnect>a:hover {
    color :#194d61!important;
}

.logo-community {
    height: 30px;
}

/*container home*/

.page-admin{
    height: calc(100vh - 203px);
    min-height: 404px;
    flex-direction: column;
}

.welcome-title{
    padding: 15px;
    margin: 0;
    text-align: center;
    color:#fdf1cd;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: bold;
    word-spacing: 30px;
}

.welcome-presentation{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 40px;
    color:#fdf1cd;
    font-size: 1.5em;
    word-spacing: 0px;
    letter-spacing: 2px;
}

.page-admin-buttons{
    padding: 15px 0;
    margin: 0;
}

.button-choice-admin {
    padding: 5px 10px;
    margin: 0 20px;
    font-size: 1.2em;
    color: #fdf1cd!important;
    background-color: #194d61;
    border-radius: 20px;
    transition-duration: 0.7s; 
}

.button-choice-admin:hover {
    background-color:#fdf1cd!important;
    color: #1d6682!important;
}

.buttons_container{
    height: 100px;;
}

/*footer*/

footer {
    width: 95%;
    margin: auto;
    border-top: solid 1px #fdf1cd;
    height: 140px;
    text-align: center;
    color:#fdf1cd;
}

.logo-oclockcommunity {
    height: 60px;
    margin: 20px 0px;
}

.footer-link-linkedin:hover{
    color: #cfc5a7!important;
}


/*Lists*/
.container_table_list {
    height: calc(100vh - 204px);
    overflow: auto;
}
.title-category {
    padding: 15px 0;
    margin: 0;
    text-transform: uppercase;
    color:#fdf1cd;
}

.table_list{
    color:#fdf1cd;
}

/*****************************************/
/**************Media Queries**************/
/*****************************************/


@media screen and (max-width: 965px) {
    .page-admin-buttons, .buttons_container{
      height:130px;
    }
    .container_table_list{
        height: 100vh;
    }
}

@media screen and (max-width: 770px) {
    .logo-oclockcommunity {
        height: 20px;;
    }
    .button-choice-admin {
        margin: 0 10px;
        font-size: 1em;
    }
}

@media screen and (max-width: 655px) {
    .welcome-title{
    font-size: 3em;
    }
    .welcome-presentation{
    font-size: 1em;
    padding-bottom: 5px;
    }
    .page-admin-buttons, .buttons_container{
      height:210px;
    }

}
