// ----------------------------------------- NEW FONT OCLOCK -----------------------------------------

@font-face{
  font-family : "Oclock";

  src : url('./fonts/oclock-regular.woff2') format('woff2'),
        url('./fonts/oclock-regular.ttf') format('truetype');

  font-weight:normal;
  font-style:normal;
  font-variant:normal;
}

@font-face{
  font-family : "Oclock";

  src : url('./fonts/oclock-regularitalic.woff2') format('woff2'),
        url('./fonts/oclock-regularitalic.ttf') format('truetype');

  font-weight:normal;
  font-style:italic;
  font-variant:normal;
}

@font-face{
  font-family : "Oclock";

  src : url('./fonts/oclock-medium.woff2') format('woff2'),
        url('./fonts/oclock-medium.ttf') format('truetype');

  font-weight:500;
  font-style:normal;
  font-variant:normal;
}

@font-face{
  font-family : "Oclock";

  src : url('./fonts/oclock-bold.woff2') format('woff2'),
        url('./fonts/oclock-bold.ttf') format('truetype');

  font-weight:700;
  font-style:normal;
  font-variant:normal;
}

@font-face{
  font-family : "Oclock";

  src : url('./fonts/oclock-black.woff2') format('woff2'),
        url('./fonts/oclock-black.ttf') format('truetype');

  font-weight:900;
  font-style:normal;
  font-variant:normal;
}

$font-family-base: "Oclock";

// ----------------------------------------- THEME COLOR -----------------------------------------

$theme-colors: (
  // HOME
  home: #007C84,
  home-darker: darken(#007C84, 5%),
  home-navfoot: darken(#007C84, 8%),

  // MEMBERS PAGE
  members: #C77B7A,
  members-darker: darken(#C77B7A, 5%),
  members-navfoot: darken(#C77B7A, 8%),

  // MEMBER PAGE
  member: #598DC5,
  member-darker: darken(#598DC5, 5%),
  member-navfoot: darken(#598DC5, 8%),

  // PROJECTS PAGE
  projects: #D8B177,
  projects-darker: darken(#D8B177, 5%),
  projects-navfoot: darken(#D8B177, 8%),

  // PROJECT PAGE   
  project: #877EA5,
  project-darker: darken(#877EA5, 5%),
  project-navfoot: darken(#877EA5, 8%),

  // LOGIN PAGE
  login: #8D3131,
  login-darker: darken(#8D3131, 5%),
  login-navfoot: darken(#8D3131, 8%),

  //OTHER COLOR THEME
  custom-button: #fdf1cd,
  white: #fdf1cd

) !default;

/* remove rounding from cards, buttons and inputs */

// Cette variable affecte les classes `.h-*` et `.w-*`
$sizes: (
  10: 10%,
  15: 15%,
);

// Boutons
$btn-border-radius: 25px;
$btn-border-radius-lg: 25px;
