

$theme-colors: (
  accueil: #007C84,
  accueil-darker: darken(#007C84, 5%),
  accueil-navbar: #136367,
  custom-button: #fdf1cd
) !default;

/* remove rounding from cards, buttons and inputs */

// Cette variable affecte les classes `.h-*` et `.w-*`
$sizes: (
  10: 10%,
  15: 15%,
);

// Boutons
$btn-border-radius-lg: 25px;
