// General 
$text-color: #fdf1cd;

// Home
$color-home: #007C84;

// Members
$color-members: #C77B7A;

// Member
$color-member: #598DC5;

// Projects
$color-projects: #D8B177;

// Project
$color-project: #877EA5;

// Login
$color-login: #8D3131;




