<form class="d-inline" method="post" action="{{ path('specialisation_delete', {'id': specialisation.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialisation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
