{% extends 'base.html.twig' %}

{% block title %}Modifier la spécialité - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2 class="show-title">Modifier la spécialité</h2>

        {{ include('admin/specialisation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-light" href="{{ path('specialisation_index') }}">Retour à la liste</a>

        {{ include('admin/specialisation/_delete_form.html.twig') }}
    </div>
{% endblock %}
