{% extends 'base.html.twig' %}

{% block title %}Ajouter une spécialité - Admin{% endblock %}

{% block body %}
    <h2>Créer une nouvelle spécialisation</h2>

    {{ include('admin/specialisation/_form.html.twig') }}

    <a href="{{ path('specialisation_index') }}">Retour à la liste</a>
{% endblock %}
