{% extends 'base.html.twig' %}

{% block title %}Modifier la compétence - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2 class="show-title">Modifier la compétence</h2>

        {{ include('admin/competence/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-light" href="{{ path('competence_index') }}">back to list</a>

        {{ include('admin/competence/_delete_form.html.twig') }}
    </div>
{% endblock %}
