{% extends 'base.html.twig' %}

{% block title %}Ajouter une compétence - Admin{% endblock %}

{% block body %}
    <h2>Créer une nouvelle compétence</h2>

    {{ include('admin/competence/_form.html.twig') }}

    <a href="{{ path('competence_index') }}">Retour à la liste</a>
{% endblock %}
