    <footer>
    <hr>
    <a href=""><img class="logo-community" src="{{ asset('images/logoOcommunity.svg')}}" alt="logo O'clock community"></a>
    <p>2018 &copy; <a className="" href="https://www.linkedin.com/in/elodiechiarani/">Elodie Chiarani</a> / <a className={classcolortext} href="https://www.linkedin.com/in/thibault-garnier/">Thibault Garnier</a> / <a className={classcolortext} href="https://www.linkedin.com/in/tristantouchain/">Tristan Touchain</a> / <a className={classcolortext} href="https://www.linkedin.com/in/vincentsureau/">Vincent Sureau</a></p>
    </footer>