<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <div class="left-nav-container">
            <ul class="d-flex container-nav-link">
                <li class="nav-link">
                <a href="">Les étudiants</a> 
                </li>
                <li class="nav-link">
                    <a href="">Les projets</a>
                </li>
                <li class="nav-link">
                    <a href="">Les promotions</a>
                </li>
            </ul>
        </div>
        <a href=""><img class="logo-community" src="{{ asset('images/logoOcommunity.svg')}}" alt="logo O'clock community"></a>
        <div class="right-nav-container">
            <ul class="d-flex container-nav-link">
                <li class="nav-link">
                    <a href="">Les spécialisations</a>
                </li>
                <li class="nav-link">
                    <a href="">Les compétences</a>
                </li>
                <li class="nav-link">
                    <a href="">Les images</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
</header>