<form class="d-inline" method="post" action="{{ path('app_user_password', {'id': app_user.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir réinitialiser le mot de passe?');">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('reset-password' ~ app_user.id) }}">
    <button class="btn btn-danger">Reset password</button>
</form>