<form class="d-inline" method="post" action="{{ path('app_user_password', {'id': app_user.id}) }}">
    <input type="hidden" name="_method" value="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('reset-password' ~ app_user.id) }}">
    <button data-toggle="tooltip" data-placement="top" title="Reset password" class="btn btn-link p-0"><i class="fas fa-unlock"></i></button>
</form>
