{% extends 'base.html.twig' %}

{% block title %}Modifier le profil - Admin{% endblock %}

{% block body %}
    <div class="container-form">
            <h2 class="show-title">Modifier le profil</h2>
            <a class="btn btn-light btn-light_edit" href="{{ path('app_user_index') }}">Retour à la liste</a>
            {{ include('admin/app_user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
