{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2>Créer un nouvel utilisateur</h2>

        {{ include('admin/app_user/_form.html.twig') }}
        <br>
        <a class="btn btn-light" href="{{ path('app_user_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
