{% extends 'base.html.twig' %}

{% block title %}Modifier l'image - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2 class="show-title">Modifier l'image</h2>
        <a class="btn btn-light  btn-light_edit" href="{{ path('image_index') }}">Retour à la liste</a>
        {{ include('admin/image/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        <div class="d-flex justify-content-center container_delete">
            {{ include('admin/image/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
