{% extends 'base.html.twig' %}

{% block title %}Modifier l'image - Admin{% endblock %}

{% block body %}
    <div class="container-form container_table_list">
        <h2 class="show-title">Modifier l'image</h2>
        <img class="image_for_list" src="{{ image.imageLink }}" alt="">
        {{ include('admin/image/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a class="btn btn-light" href="{{ path('image_index') }}">Retour à la liste</a>

        {{ include('admin/image/_delete_form.html.twig') }}
    </div>
{% endblock %}
