{% extends 'base.html.twig' %}

{% block title %}Ajouter une image - Admin{% endblock %}

{% block body %}
    <h2>Créer une nouvelle image</h2>

    {{ include('admin/image/_form.html.twig') }}

    <a href="{{ path('image_index') }}">Retour à la liste</a>
{% endblock %}
