@import '../../styles/vars';

#project {
  & h1 {
    font-size: 3em;
  }
  &-presentation {
    position: relative;
    // width: 100vw;
    height: 100vh;
    min-height: 700px;
    
  }

  &-project-pc,
  &-gallery-pc {
    background: url(../../images/mbp.svg) no-repeat;
    background-size: 100%;
    width: 680px;
    height: 402px;
    position: relative;
    -moz-osx-font-smoothing: initial;
    -webkit-font-smoothing: initial;
    text-align: left;
    margin: 0 auto;
    &-screen {
      width: 502px;
      height: 314px;
      position: absolute;
      top: 37px;
      left: 89px;
      & img {
        width: 100%;
        height: 314px;
        object-fit: cover;
        object-position: center top;
      }
    }
  }

  &-teamtech {
    margin: 0;
    padding: 10em;
    // width: 100vw;
    min-height: 100vh;
    text-align: center;

    & #project-team {
      &-logo {
        width: 300px;
        height: 100%;
        margin-bottom: 1em;
      }
      &-list {
        padding: 3em;
      }
    }

    & #project-tech {
      margin-top: 5em;
      &-title{
        color: darken($color-project, 25%);
      }
      & .project-tech-tag {
        border: 1px solid #fdf1cd;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .9em;
        padding: .5em;
        margin: .5em .5em;
        border-radius: 5px;
      }
    }

    h1 {
      font-size: 2.2em;
      margin-bottom: 0;
    }


  }

  &-gallery{
    height: 100vh;
    min-height: 750px;
    padding-bottom: 7em;
    &-wrapper{
      width: 800px;
      height: 60%;
      text-align: center;

      & h1 {
        font-weight: bold;
        font-size: 2.2em;
        margin-bottom: 2em;
      }

      & .carousel {
        width: 100%;
        height: 100%;
        &-inner {
          width: 100%;
          height: 100%;

          & .carousel-item {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 0%;
          }
        }
        
      }
    }

  }

  &-descript {
    margin: 0;
    padding: 10em;
    // width: 100vw;
    min-height: 100vh;
    text-align: center;



    & #project-description{
      & h1 {
        font-weight: bold;
        font-size: 2.2em;
        margin-bottom: 2em;
      }

      &-paragraphe {
        column-count: 2;
        column-gap: 2em;
        text-align: justify;
      }
    }
    p {
      font-weight: normal;
      font-size: 1.3em;
    }


  }

  &-link {
    svg {
      font-size: 1.8em;
      margin: .2em;
    }
  }

  &-link {
    font-size: 0.8em;
    text-transform: uppercase;
    &-icons {
      & a {
        font-size: 4em;
      }
    }
  }
}

@media (max-width:992px) {

  #project {
    &-presentation {
      margin: 0;
      padding: 100px 5em;

      & h1 {
        text-align: center;
      }
    }
    &-project-pc, 
    &-gallery-pc {
      transform: scale(.6);
      margin: -5em 0;
    }
    & #project-description {
      &-paragraphe {
        column-count: 1;
      }
    }
  }
}

@media (max-width:576px) {

  #project {
    &-presentation {
      margin: 0;
      padding: 100px 5em;

      & h1 {
        text-align: center;
      }
    }
    &-project-pc {
      transform: scale(0.4);
      margin: -8em 0;
    }
  }
}
